body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span.Resizer.vertical {
  cursor: col-resize;
  width: 10px;
  background: black;
}

.employee-table {
  border-collapse: collapse;
}

.employee-table th,
.employee-table td {
  border: 1px solid black;
  padding: 8px;
}

.employee-table th {
  background-color: #f2f2f2;
}

.employee-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

html,
body {
  overflow: auto;
}